* { box-sizing:border-box; }

.container {
  width:80%; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
  /* margin-bottom: 0; */
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 90%;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus 		{ outline:none; }
textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

h2{
    margin-bottom: 1.5rem;
}

.textArea {
    width         : 95%;               /* 入力域の最大幅 */
    height: 250px;
    background    : #ffffff;             /* 入力域の背景色 */
    border        : 2px solid #1e6bb9;   /* 入力域の枠線   */
    border-radius : 4px;                 /* 入力域の角丸   */
    padding       : 5px;                /* 入力文字の余白 */
    font-size     : 18px;                /* 入力文字サイズ */
    color         : #333333;             /* 入力文字の色   */
    font-weight   : bold;                /* 入力文字の太字 */
    letter-spacing: .1em;                /* 入力文字の間隔 */
    line-height   : 1.4;                /* 入力文字の間隔 */
  }

.form-group{
    padding: 2rem 1.5rem 2rem 3rem;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
textarea:focus ~ label, textarea:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:90%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:500px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* reportsのcreate.blade.phpの分で記入 */
.form-group {
  padding: 2rem 0rem 2rem 1.5rem;
}